{% extends "layouts/default.html" %}

{% block title %} Login {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

<div class="page-inner">
    <div class="page-header">
        <h4 class="page-title">Login</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="#">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Authentication</a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="#">Login</a>
            </li>
        </ul>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">

                        {% if msg %}
                        <span class="text-danger">{{ msg | safe }}</span>
                        {% else %}
                        <span>Register</span>
                        {% endif %}

                    </div>
                </div>

                <form method="post" action="">

                    {{ form.hidden_tag() }}

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6 col-lg-4">



                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-user"></i>
                                            </span>
                                        </div>
                                        <input type="text" id="signup-username" class="form-control"
                                            placeholder="Username" required />
                                        <!-- {{ form.username(placeholder="Username", class="form-control") }} -->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-envelope"></i>
                                            </span>
                                        </div>
                                        <input type="email" id="signup-email" class="form-control"
                                            placeholder="Email Address" required />
                                        <!-- {{ form.email(placeholder="eMail Address", class="form-control") }} -->
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="icon-lock"></i>
                                            </span>
                                        </div>
                                        <input type="password" id="signup-password" class="form-control"
                                            placeholder="Password" required />
                                        <!-- {{ form.password(placeholder="Password", class="form-control", type="password") }} -->
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <button type="submit" class="btn btn-success">Submit</button>
                        &nbsp; &nbsp;
                        <span>Already have and account?</span> <a href="/login.html">Login</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<!-- The core Firebase JS SDK is always required and must be listed first -->

<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.14.3/firebase-firestore.js"></script>
<script>
    // Your web app's Firebase configuration
    var firebaseConfig = {
        apiKey: "AIzaSyCVI1VbaDvwUm_NV9hgado-pM4s-3kfvkg",
        authDomain: "skill-sight.firebaseapp.com",
        databaseURL: "https://skill-sight.firebaseio.com",
        projectId: "skill-sight",
        storageBucket: "skill-sight.appspot.com",
        messagingSenderId: "942036165538",
        appId: "1:942036165538:web:cb073a8b984ee84156c8fb",
        measurementId: "G-XYYCHW4KNH"
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);

    //make auth and firestone refferences
    const auth = firebase.auth();
    const db = firebase.firestore();

    // //update firestore settings 
    // db.settings({ timestampsInSnapshots: true });
</script>
<!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="scripts/auth.js"></script>
<script src="scripts/index.js"></script>
{% endblock content %}

{% block javascripts %}

<script src="/assets/js/setting-demo2.js"></script>


{% endblock javascripts %}