
{% extends "layouts/default.html" %}

{% block title %} Dashboard {% endblock title %}

{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}
    <div class="page-inner">
        <div class="page-header">
            <h4 class="page-title">Progress</h4>
            <ul class="breadcrumbs">
                <li class="nav-home">
                    <a href="#">
                        <i class="flaticon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Courses</a>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Progress</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="d-flex align-items-center">
                            <h3 class="card-title">Ongoing courses</h3>
                            <button class="btn btn-secondary btn-round ml-auto" data-toggle="modal" data-target="#addRowModal">
                                <i class="fa fa-plus"></i>
                                Add Course
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Modal -->
                        <div class="modal fade" id="addRowModal" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header no-bd">
                                        <h5 class="modal-title">
                                            <span class="fw-mediumbold">
                                            New</span>
                                            <span class="fw-light">
                                                Row
                                            </span>
                                        </h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p class="small">Create a new row using this form, make sure you fill them all</p>
                                        <form>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group form-group-default">
                                                        <label>Name</label>
                                                        <input id="addName" type="text" class="form-control" placeholder="fill name">
                                                    </div>
                                                </div>
                                                <div class="col-md-6 pr-0">
                                                    <div class="form-group form-group-default">
                                                        <label>Position</label>
                                                        <input id="addPosition" type="text" class="form-control" placeholder="fill position">
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group form-group-default">
                                                        <label>Office</label>
                                                        <input id="addOffice" type="text" class="form-control" placeholder="fill office">
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer no-bd">
                                        <button type="button" id="addRowButton" class="btn btn-primary">Add</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="ongoing-courses-table" class="display table table-head-bg-primary table-striped mt-4 table-hover" >
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Source</th>
                                        <th>Tag</th>
                                        <th>Start date</th>
                                        <th>Deadline</th>
                                        <th style="width: 10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Course A</td>
                                        <td>Source A</td>
                                        <td>Tag A</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course B</td>
                                        <td>Source B</td>
                                        <td>Tag B</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course C</td>
                                        <td>Source C</td>
                                        <td>Tag C</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course D</td>
                                        <td>Source D</td>
                                        <td>Tag D</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course E</td>
                                        <td>Source E</td>
                                        <td>Tag E</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course F</td>
                                        <td>Source F</td>
                                        <td>Tag F</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course G</td>
                                        <td>Source G</td>
                                        <td>Tag G</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course H</td>
                                        <td>Source H</td>
                                        <td>Tag H</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course I</td>
                                        <td>Source I</td>
                                        <td>Tag I</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course J</td>
                                        <td>Source J</td>
                                        <td>Tag J</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Course K</td>
                                        <td>Source K</td>
                                        <td>Tag K</td>
                                        <td>15-05-2020</td>
                                        <td>17-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-success" data-original-title="Mark as complete">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Completed Courses</h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="completed-courses-table" class="display table table-head-bg-primary table-striped table-hover" >
                                <thead>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Source</th>
                                        <th>Tag</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th style="width:5%">Details</th>
                                    </tr>
                                </thead>
                                <tfoot>
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Source</th>
                                        <th>Tag</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th style="width:5%">Details</th>
                                    </tr>
                                </tfoot>
                                <tbody>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td>Course X</td>
                                        <td>Source X</td>
                                        <td>Tag X</td>
                                        <td>15-05-2020</td>
                                        <td>16-05-2020</td>
                                        <td>
                                            <div class="form-button-action">
                                                <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-warning btn-lg" data-original-title="View Details">
                                                    <i class="fa fa-info-circle"></i>
                                                </button>
                                            </div>
                                        </td>

                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block javascripts %}

	<script >
		$(document).ready(function() {
			$('#ongoing-courses-table').DataTable({
                "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
                "oSearch": { "bCaseInsensitive": true, "bSmart": false, "bRegex": true, "sSearch": "" }
			});
            $('#completed-courses-table').DataTable({
                "lengthMenu": [[5, 10, 25, 50, 100, -1], [5, 10, 25, 50, 100, "All"]],
                "oSearch": { "bCaseInsensitive": true, "bSmart": false, "bRegex": true, "sSearch": "" }
			});

			// Add Row
			$('#add-row').DataTable({
				"pageLength": 5,
			});

			var action = '<td> <div class="form-button-action"> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-primary btn-lg" data-original-title="Edit Task"> <i class="fa fa-edit"></i> </button> <button type="button" data-toggle="tooltip" title="" class="btn btn-link btn-danger" data-original-title="Remove"> <i class="fa fa-times"></i> </button> </div> </td>';

			$('#addRowButton').click(function() {
				$('#add-row').dataTable().fnAddData([
					$("#addName").val(),
					$("#addPosition").val(),
					$("#addOffice").val(),
					action
					]);
				$('#addRowModal').modal('hide');

			});
		});
	</script>

{% endblock javascripts %}
